/*标签页导航滚动*/
.tabbar-scrollable .toolbar-inner {
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
.tabbar-scrollable .toolbar-inner::-webkit-scrollbar {
    display:none!important;
    width:0!important;
    height:0!important;
    -webkit-appearance:none;
    opacity:0!important
}
.tabbar-scrollable a.link,.tabbar-scrollable a.tab-link {
    width:auto;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0
}


/*.laber-en .laber-zh{*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
.toolbar-inner>a{
    /*display: block;*/
    margin-left: 2pt;
    margin-right: 10pt;
}

.for-col{
    margin: 10pt;
}


@font-face {

    font-family: SimYou; /*这里是说明调用来的字体名字*/
    src: url(/hcsdemo3/font/SIMYOU.TTF); /*这里是字体文件路径*/
}






/*aircon*/
div[data-page="aircon"]{
    background-image: url(/hcsdemo3/images/bg1.png);
}
div[data-page="aircon"] div.toolbar{
    /*background-color:#000000;*/

    /*filter:alpha(opacity=50);//标准的css透明度，在大部分的标准浏览器Firefox, Safari, and Opera都有效*/
    /*opacity:0.5;//兼容IE解决方案*/
    /*filter:alpha(opacity=30);*/
    background-color:rgba(0,0,0,0.3);
    /*-moz-opacity:0.3;*/
    /*-khtml-opacity: 0.3;*/
    /*opacity: 0.3;*/

    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}
div[data-page="aircon"] div.toolbar >*{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
}
/*ircon-show*/
div.aircon-show{
    background-color:rgba(0,0,0,0.4);
    position:static;
    *zoom:1;
}
div.aircon-show >*{
    position: relative;

    color: white;
    font-family: SimYou;
}
div.aircon-show div.row div{
    padding: 2pt;
}
div.aircon-show div.row div.temperature-col{
    text-align: center;
}
div.aircon-show .temperature-show{
    text-align: center;
    font-size:70px;
    margin: 70pt 0pt 90pt 0pt;
    /*background-color: #4cd964;*/
}

div.aircon-setting{
    margin-top: 30pt;
}

div.aircon-setting div.row div[class*="col-"]{
    padding: 20px 10px 20px 10px;
    text-align: center;
    /*background: #fff;*/
    border: 1px solid #ddd;
    /*color: #000;*/
}




/*lights*/
div[data-page="lights"]{
    background-image: url(/hcsdemo3/images/bg1.png);
}
div[data-page="lights"] div.toolbar{
    /*background-color: black;*/

    /*filter:alpha(opacity=50);//标准的css透明度，在大部分的标准浏览器Firefox, Safari, and Opera都有效*/
    /*opacity:0.5;//兼容IE解决方案*/
    /*filter:alpha(opacity=30);*/
    /*-moz-opacity:0.3;*/
    /*-khtml-opacity: 0.3;*/
    /*opacity: 0.3;*/

    background-color:rgba(0,0,0,0.3);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}
div[data-page="lights"] div.toolbar >*{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
}

/*灯光的Switch 布局*/
div#lights-tabs div.row{
    margin-top: 15pt;
}
div#lights-tabs div[class*="col-"]{
    text-align: center;
    margin-top: 20pt;
    /*background-color: #8e8e93;*/
}

div#lights-tabs div[class*="col-"] span{
    color: white;
    margin-top: 2pt;
}

div#lights-tabs div[class*="col-"] a{
    margin: 0pt 3pt 0pt 3pt;
}


/*service*/
div[data-page="service"]{
    background-image: url(/hcsdemo3/images/bg1.png);
}

div[data-page="service"] div.page-content{
    position:relative;
}
div[data-page="service"] div.row{
    /*margin-top: 30%;*/

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
div[data-page="service"] div[class*="col-"]{
    text-align: center;
    margin-top: 10pt;
}
div[data-page="service"] div[class*="col-"] span{
    color: white;
}



/*index*/
div[data-page="index"]{
    /*background-image: url(/hcsdemo3/images/bg-index.jpg);*/
    background-image: url(/hcsdemo3/images/bg1.png);

    /*background-color: #4cd964;*/
}
div[data-page="index"] div.page-content{
    position:relative;
}
div[data-page="index"] div.row{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-right: 5pt;
    margin-left: 5pt;

}
div[data-page="index"] div[class*="col-"]{
    text-align: center;
    margin-top: 20pt;
    margin-bottom: 20pt;
}
div[data-page="index"] div[class*="col-"] span{
    color: white;
    font-size: 1.4em;
    font-family: SimYou;
}



/*顶部导航栏*/
div.view div.navbar div.center{
    color: white;
    font-size: 1.4em;
    font-family: SimYou;
}




/*测试服务页面的开关按钮*/
div[data-page="test"] div.row{
    margin-top: 15pt;
}
div[data-page="test"] div[class*="col-"]{
    text-align: center;
    margin-top: 10pt;
    /*background-color: #8e8e93;*/
}


