/*标签页导航滚动*/
.tabbar-scrollable .toolbar-inner {
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
.tabbar-scrollable .toolbar-inner::-webkit-scrollbar {
    display:none!important;
    width:0!important;
    height:0!important;
    -webkit-appearance:none;
    opacity:0!important
}
.tabbar-scrollable a.link,.tabbar-scrollable a.tab-link {
    width:auto;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0
}


/*.laber-en .laber-zh{*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
.toolbar-inner>a{
    /*display: block;*/
    margin-left: 2pt;
    margin-right: 10pt;
}

.for-col{
    margin: 10pt;
}

/*灯光的Switch 布局*/
div#lights-tabs div.row{
    margin-top: 15pt;
}
div#lights-tabs div.col-33{
    text-align: center;
    margin-top: 10pt;
    /*background-color: #8e8e93;*/
}

div#lights-tabs div.col-33 a{
    margin: 0pt 3pt 0pt 3pt;
}

/*aircon*/
div.aircon-show div.row div{
    padding: 2pt;
}
div.aircon-show div.row div.temperature-col{
    text-align: center;
}
div.aircon-show .temperature-show{
    text-align: center;
    font-size:70px;
    margin: 70pt 0pt 90pt 0pt;
    /*background-color: #4cd964;*/
}

div.aircon-setting{
    margin-top: 30pt;
}

div.aircon-setting div.row div[class*="col-"]{
    padding: 20px 10px 20px 10px;
    text-align: center;
    /*background: #fff;*/
    border: 1px solid #ddd;
    /*color: #000;*/
}


